<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
       <link rel="stylesheet" type="text/css" href="main.css">
</head>
        
<body >

      <div class="bg-image"></div>
    
    <div class="bg-text">
    
<h1>Register Here</h1>
    <div>
<form name="form" action="#" th:action ="@{/register}" method = "post">
User Name : <input type ="text" name ="username"  required/> <br> <br>
    <br>
Password : <input type ="password" name="password" required/> <br>
    <br>
    <br>

<input type="submit" value="Register">
</form>
</div>
    </div>
    
</body>
</html>